@font-face {
  font-family: 'Cafe24Oneprettynight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 18px;
}

body {
  margin: 0 0 5vh 0;
  background-color: whitesmoke;
  font-family: 'Cafe24Oneprettynight';
}

.container {
  margin: 0 20vw;
  padding: 10px 20px;
}
